*, *:before, *:after
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    
    font-family: Epilogue, sans-serif;
    color: #183443;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    
    background-color: #fff;
}

img
{
    width: 100%;
    vertical-align: middle;
    border: 0;
}

.div
{
    display: block;
}

p
{
    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
}

a
{
    margin-top: 0px;
    padding: 0px;

    color: #183443;
    text-decoration: none;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 60px;
    line-height: 1.07;
    font-weight: 600;
}

h3 {
    margin-top: 0px;
    font-size: 40px;
    line-height: 1.15;
    font-weight: 600;
}

h4
{
    margin-top: 0px;
    margin-bottom: 0px;

    font-size: 22px;
    line-height: 1.27;
    font-weight: 600;

}

.page-wrapper
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.anchor-point.cont-block
{
    transform: translate(0px, -70px);
}

.anchor-point {
    height: 0px;
    transform: translate(0px, -40px);
}

/* Containers */
.full-container
{
    max-width: 1350px;

    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
}

.main-container
{
    max-width: 1240px;

    margin-right: auto;
    margin-left: auto;
    padding-right: 80px;
    padding-left: 80px;
}


/* Header */
.header
{
    position: sticky;
    top: 0px;
    z-index: 100;
    padding-top: 22px;
    padding-bottom: 22px;
    background-color: #fff;
}

.header-bar-bg
{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    background-color: #fff;
}

.header-inner
{
    display: flex;
    align-items: center;
}

.header-logo
{
    position: relative;
    z-index: 300;
    display: inline-block;
    width: 200px;
    margin-top: 4px;
    margin-right: auto;
    margin-bottom: -4px;
}

.header-nav
{
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
}

.header-nav-link
{
    position: relative;
    
    margin-right: 37px;
}

.header-nav-link:nth-child(-n+2)::after
{
    content: "";
    background-color: #45ff51;
    
    height: 1px;
    width: 0;
    
    position: absolute;
    bottom: -5px;
    left: 0;
    
    transition: all .25s ease;
}

.header-nav-link:hover::after
{
    width: 100%;
}

.header-nav-link:last-child
{
    padding: 12px 27px 12px 34px;
    margin-right: 0;
    
    background-color: #183443;
    color: #fff;
}

.header-btn-icon
{
    width: 18px;
    height: 18px;
    margin-top: -1px;
    margin-left: 2px;
}

.header-nav-link:last-child::after
{
    content: "";
    background-color: #45ff51;
    
    height: 1px;
    width: 0%;
    
    position: absolute;
    bottom: 5px;
    left: 5%;
    
    transition: all .25s ease;
}
.header-nav-link:last-child:hover::after
{
    width: 90%;
}

.header-navbar-menu-btn
{
    position: relative;
    float: right;
    padding: 18px;
    font-size: 24px;
    display: none;
    cursor: pointer;
}

.header-navbar-menu-btn.active .btn-menu-line.middle
{
    background: rgba(0, 0, 0, 0);
}

.header-navbar-menu-btn.active .btn-menu-line.top
{
    transform: translate3d(0px, 7px, 0px)
    rotateZ(45deg)
}

.header-navbar-menu-btn.active .btn-menu-line.bottom
{
    transform: translate3d(0px, -7px, 0px)
    rotateZ(-45deg)
}

/* Intro */
.intro
{
    display: block;
    padding-top: 80px;
    padding-bottom: 80px;
}

.intro-image-frame {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: -1;
    overflow: hidden;
    
    width: 51%;
    height: 100vh;
    margin-top: 75px;
    margin-left: 49%;
}

.intro-image.hidden {
    display: none;
}

.intro-image {
    width: 620px;
    height: 620px;
}

.intro-content
{
    position: relative;
}

.intro-text
{
    max-width: 920px;
}

.head-text
{
    margin-bottom: 40px;
    margin-top: 0px;
    
    font-size: 80px;
    line-height: 1.175;
    font-weight: 600;
}

.bot-text
{
    max-width: 600px;
}

.text
{
    margin-bottom: 0;
    margin-top: 0;
    
    font-size: 40px;
    line-height: 1.35;
    font-weight: 500
}

.typed-cursor
{
    opacity: .3;
    animation: 1s blink step-end infinite
}

/* City and time */
.city-time-inner
{
    position: relative;
}


.city-time-content
{
    position: absolute;
    top: -120px;
    right: 0%;
    bottom: 0%;
    height: 0px;

    text-align: right;
}

.sphere
{
    display: inline-block;
    width: 32px;
    height: 32px;

    margin-bottom: 18px;
}

.location-time
{
    font-size: 20px;
    line-height: 1;
}

.location-link {
    position: relative;
    z-index: 4;
    display: inline-block;
    max-width: 100%;
    width: 195px;
    
    margin: 0 -20px;
    padding: 0 20px 10px 20px;
}

.location-location
{
    display: inline-block;
    margin-top: 10px;
    padding: 6px 10px 5px;
    
    background-color: #183443;
    color: #fff;
    
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
}

.location-separator
{
    height: 1px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #183443;
}

.location-geo
{
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
    color: #183443;
}


/* Projects */
.projects
{
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}

.projects-head
{
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 1.07;
    font-weight: 600;
}

.sup-projects
{
    background-image: url(https://uploads-ssl.webflow.com/62738bb78beb1d26632ba17e/62738bb78beb1da0662ba1bb_glyph-fill.svg);
}

.sup {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    width: 24px;
    height: 24px;
    
    margin-left: 8px;
    background-repeat: no-repeat;
    transform: translate(0px, -50%);
    color: transparent;
}

.projects-components
{
    display: flex;
    flex-wrap: wrap;

    margin-right: -15px;
    margin-bottom: -60px;
    margin-left: -15px;
}

.photo-link
{
    max-width: 100%;
    display: inline-block;
    width: 50%;

    margin-bottom: 60px;
}
.project-card
{
    height: 100%;

    margin-right: 15px;
    margin-left: 15px;
}

.photo-frame 
{
    position: relative;
    overflow: hidden;

    padding-top: 82.03%;
}

.photo-size {
    position: absolute;
    z-index: 0;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* +++++++ FRAME ++++++ */
.frame
{
    position: absolute;
    z-index: 1;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    overflow: hidden;
    
    margin: 8px;
}

.h-line {
    position: absolute;
    width: 0%;
    height: 0px;
   
    background-color: #45ff51;
    transition: all .4s ease;
}

.h-line.top-left
{
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
}

.h-line.top-right
{
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
}

.h-line.bot-left
{
    left: 0%;
    top: auto;
    right: auto;
    bottom: 0%;
}

.h-line.bot-right
{
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
}

.photo-frame:hover .h-line
{
    width: 50%;
    height: 1px;
}

.v-line {
    position: absolute;
    
    width: 0px;
    height: 0%;

    background-color: #45ff51;
    transition: all .4s ease;
}

.v-line.top-left
{
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
}

.v-line.top-right
{
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
}

.v-line.bot-left
{
    left: 0%;
    top: auto;
    right: auto;
    bottom: 0%;
}

.v-line.bot-right
{
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
}

.photo-frame:hover .v-line
{
    width: 1px;
    height: 50%;
}


.project-card-caption
{
    display: flex;
    justify-content: space-between;

    margin-top: 22px;
}

.project-card-heading
{
    padding-top: 4px;
    flex: 1;
}

.btn-arrow
{
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 10rem;

    background-color: rgb(244, 247, 251);
    cursor: pointer;

    margin-left: 32px;

    transition: all .25s ease;
}

.btn-arrow:hover
{
    background-color: #45ff51;
}

.btn-arrow-icon 
{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 18px;
    height: 18px;
    
    margin: auto;
}


/* Footer */
.contacts
{
    padding-top: 80px;
    padding-bottom: 80px;
}

.contacts-content
{
    display: flex;
    padding-left: 95px;
    justify-content: space-between;
    align-items: flex-start;
}

.contacts-form
{
    width: 60%;
}

.contacts-form-head
{
    width: 100%;
    margin-bottom: 45px;
}
.message
{
    background-image: url("https://uploads-ssl.webflow.com/62738bb78beb1d26632ba17e/62738bb78beb1d3a352ba1b3_glyph-message.svg");
}

.head-contacts
{
    margin-bottom: 30px;
}

.contacts-form-text
{
    font-size: 22px;
}

.form 
{
    width: 100%;
    margin: 0 0 15px;
}

.form-block
{
    display: block;
    line-height: 0;
}

.form-row
{
    display: flex;
    margin-bottom: 30px;
}

.form-row-field 
{
    width: 100%;
}

.form-row-field:nth-child(1)
{
    margin-right: 32px;
}

.input
{
    display: block;
    width: 100%;
    height: 38px;
    max-height: 50px;
    min-height: 50px;
    
    line-height: 1;
}

.form-input
{
    margin: 0;
    padding: 16px 22px 15px;
    border: 1px solid #183443;
    border-radius: 0px;
    
    background-color: transparent;
    resize: vertical;

    color: #183443;
    font-family: Epilogue, sans-serif;
    font-size: 15px;

    opacity: .5;
    transition: all .25s ease;
}

.form-input:hover
{
    border-color: #45ff51;
}

.form-input:focus
{
    border-color: #45ff51;
    opacity: 1;
    outline: 0;
}

label.error
{
    display: none;
    color: #F72B2B;
    line-height: 1;
    margin: 0;
    padding-top: 5px;
    font-size: 13px;
    margin-bottom: -18px;
}

.input.error
{
    border-color: #f72b2b
}

.label
{
    font-size: 15px;
    line-height: 1;
    display: block;
    margin-bottom: 20px;
}

.form-row-field-text
{
    width: 100%;
    margin-bottom: 30px;
}

.textarea {
    display: block;
    overflow: auto;
    max-height: 320px;
    max-width: 100%;
    min-height: 120px;
    min-width: 100%;

    line-height: 1.5;
}

.form-bottom
{
    display: flex;
}

.form-btn
{
    position: relative;
    display: inline-block;
    min-width: 190px;
    
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    border-radius: 0;
    line-height: 50px;
    padding: 0 32px 0;
    
    background-color: #183443;
    color: #fff;
    
    font-size: 15px;
    font-weight: 500;
    
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.success
{
    display: none;
    width: 0px;
    height: 0px;

    text-align: center;
    padding: 0px;
    background-color: #dddddd;
}

.section-modal
{
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 200;
    display: flex;
    justify-content: center;

    padding: 20px;

    align-items: center;
    background-color: rgba(44, 52, 56, 0.9);
}

.modal-block
{
    position: relative;
    z-index: 1;
    width: 100%;
    max-height: 98vh;
    max-width: 460px;

    border-radius: 3px;
    background-color: #fff;
}

.modal-content
{
    margin: 40px;
    line-height: 1;
    text-align: center;
}

.modal-logo-frame
{
    display: inline-block;
    margin-bottom: 16px;
}

.modal-logo
{
    width: 30px;
    height: 30px;
}

.modal-head
{
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 1;
    font-weight: 500;
}

.modal-bot
{
    margin-bottom: 40px;
    font-size: 20px;
}

.close-btn
{
    display: inline-block;
    position: relative;
    text-align: center;
    min-width: 150px;
    max-width: 100%;

    padding: 12px 32px 11px;
    background-color: #183443;
    color: #fff;
    
    font-size: 15px;
    font-weight: 500;
    
    cursor: pointer;
}

.btn-label
{
    position: relative;
    z-index: 2;
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
}

.btn-border-frame
{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 0;
    overflow: hidden;
    margin: 4px;
}

.modal-close-btn
{
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    padding: 10px;
    cursor: pointer;
}

.modal-close-btn-icon
{
    width: 20px;
    height: 20px;
}

.modal-bg
{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    cursor: pointer;
}

.contacts-info
{
    width: 280px;
}

.contacts-info-head
{
    margin-bottom: 36px;
}

.contacts-info-list
{
    margin-bottom: -13px;
}

.contact-link-icon-item
{
    display: flex;
    width: 100%;

    margin-bottom: 13px;

    font-weight: 500;
}

.contact-link-img
{
    width: 50px;
    height: 50px;

    margin-right: 17px;
}

.contact-link-content
{
    position: relative;
    align-self: center;

    padding-top: 6px;
    padding-bottom: 6px;
}

.contact-link-content::after 
{
    content: "";
    background-color: #45ff51;
    
    height: 1px;
    width: 0;
    
    position: absolute;
    bottom: 5px;
    left: 0;
    
    transition: all .25s ease;
}

.contact-link-content:hover::after
{
    width: 100%;
}

.contact-link-icon-frame {
    position: relative;
    width: 50px;
    height: 50px;
    
    margin-right: 17px;

    border-style: solid;
    border-width: 1px;
    border-color: #afb8bc;
    
    transition: all .25s ease;
}

.contact-link-icon-frame:hover
{
    border-color:#45ff51;
}

.contact-link-icon
{   
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;

    width: 24px;
    height: 24px;

    margin: auto;
    opacity: 1;
}


/* Ending site */
.end-site
{
    margin-top: auto;
    padding-top: 28px;
    padding-bottom: 28px;
}

.end-bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.end-bar-logo 
{
    display: block;
    width: 30px;
    height: 30px;
}

.end-bar-logo-frame 
{
    position: fixed;
    bottom: 29px;
    max-width: 100%;
    display: inline-block;
}

.end-bar-social
{
    margin-left: auto;
    line-height: 1;
}

.end-bar-social-icon-frame 
{
    position: relative;
    display: block;

    max-width: 100%;
    width: 32px;
    height: 32px;

    margin-left: 7px;
    float: right;
}

.end-bar-social-icon 
{
    position: absolute;
    display: block;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;

    width: 24px;
    height: 24px;

    margin: auto;
}

.end-bar-social-icon.active 
{
    z-index: 2;
    opacity: 0;
}

.end-bar-social-icon.active:hover
{
    opacity: 1;
}

.end-bar-social-icon.normal:hover
{
    opacity: 0;
}


/* Progress bar */
.progress-bar
{
    position: fixed;
    z-index: -1;

    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;

    width: 100%;
    height: 100vh;
}

.progress-bar-border
{
    position: absolute;
    z-index: 0;
    top: 110px;
    bottom: 168px;
    overflow: hidden;
    
    width: 1px;
    
    margin-left: 15px;
    border-radius: 1px;
    background-color: #e6e6e6;
}

.page-progress
{
    height: 100%;
    background-color: #183443;
    transform-origin: 0% 0%;
}


/* Animation */
@keyframes blink
{
    0%{ opacity: .3; }
    50%{ opacity: 0; }
    100%{ opacity: .3; }
}


/* Media */
@media screen and (max-width: 991px)
{
    .full-container
    {
        padding-right: 20px;
        padding-left: 20px;
    }

    .main-container
    {
        padding-right: 40px;
        padding-left: 40px;
    }

/*Header*/
    .header-logo 
    {
        width: 175px;
    }


/*Intro*/
    .intro-image-frame
    {
        width: 67%;
        margin-top: 100px;
        margin-left: 33%;
    }

    .intro-image
    {
        width: 560px;
        height: 560px;
    }

    .intro-content
    {
        max-width: 860px;
        margin-right: auto;
    }

    .intro-text
    {
        max-width: 720px;
    }

/*City and time*/
    .city-time-content
    {
        top: -196px;
        margin-right: 0px;
    }

    .location-link
    {
        width: 185px;
    }

/*Projects*/
    .projects-content
    {
        max-width: 720px;
        margin-right: auto;
        margin-left: auto;
    }

    h2
    {
        font-size: 40px;
    }

    .photo-link
    {
        margin-bottom: 50px;
    }

    h4
    {
        font-size: 20px;
    }

/*Footer*/
    .contacts-content
    {
        justify-content: center;
        flex-wrap: wrap;

        max-width: 720px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0px;
    }

    .contacts-form
    {
        width: auto;
    }

    .contacts-info
    {
        width: 100%;
        margin-top: 160px;
        margin-bottom: 15px;
        padding-left: 0px;
    }

    .contacts-info-head
    {
        display: flex;
    }

    .head-contacts-description
    {
        width: 50%;
        margin-left: auto;
    }

    .contacts-info-list
    {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;

        margin-bottom: 0px;
    }

    .contacts-info-sublist
    {
        width: 50%;
        float: left;
    }

/*End site*/
    .end-site
    {
        position: static;
    }

    .end-bar-logo-frame
    {
        position: static;
    }

/*Progress bar*/  
    .progress-bar
    {
        display: none;
    }
}

@media screen and (max-width: 767px)
{
    .main-container
    {
        padding-right: 20px;
        padding-left: 20px;
    }

    .full-container
    {
        padding-right: 20px;
        padding-left: 20px;
    }

/*Header*/
    .header
    {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .header-logo
    {
        width: 150px;
        margin-top: -2px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .header-nav
    {
        display: none;
        margin-top: 15%;
        font-size: 30px;
        text-align: left;
    }

    .header-navbar-menu-btn
    {
        display: block;
        margin-right: -20px;
        padding: 21px 20px;
    }

    .btn-menu-line
    {
        display: block;
        width: 18px;
        height: 2px;
        padding-right: 0px;
        padding-bottom: 0px;
        background-color: #183443;
        transition: all .25s ease;
    }

    .btn-menu-line.top
    {
        margin-right: auto;
    }

    .btn-menu-line.middle
    {
        width: 12px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: auto;
    }

/*Intro*/
    .intro
    {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .intro-image-frame
    {
        width: 73%;
        margin-top: 58px;
        margin-left: 27%;
    }

    .intro-image
    {
        width: 480px;
        height: 480px;
    }

    .intro-text
    {
        max-width: 480px;
    }

    .head-text
    {
        font-size: 48px;
    }

    .bot-text
    {
        max-width: 360px;
    }

    .text
    {
        font-size: 20px;
        line-height: 1.4;
    }

/*City and time*/
    .city-time-content
    {
        top: -140px;
    }

    .sphere
    {
        width: 26px;
        height: 26px;
        margin-bottom: 12px;
    }

    .location-time
    {
        font-size: 16px;
    }

    .location-link
    {
        width: 165px;
    }
    
    .location-location
    {
        padding-top: 5px;
        padding-bottom: 4px;
        font-size: 12px;
    }

    .location-separator
    {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .location-geo
    {
        font-size: 9px;
    }

/*Projects*/
    .projects-content
    {
        max-width: 640px;
    }

    .projects-components
    {
        margin-right: -10px;
        margin-left: -10px;
    }

    .project-card
    {
        margin-right: 10px;
        margin-left: 10px;
    }

    .frame
    {
        margin: 4px;
    }

/*Footer*/
    .contacts
    {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .contacts-content
    {
        max-width: 560px;
    }

    .contacts-form-text
    {
        font-size: 18px;
    }

    .form-row
    {
        flex-wrap: wrap;
    }

    .form-row-field:nth-child(1)
    {
        margin-right: 0px;
        margin-bottom: 30px;
    }

    label.error
    {
        color: #F72B2B;
        line-height: 1;
        
        margin: 0;
        margin-bottom: -18px;
        padding-top: 5px;
        font-size: 13px;
    }

    .contacts-info
    {
        margin-top: 80px;
        margin-bottom: -13px;
    }

    .contacts-info-head
    {
        display: block;
    }

    .head-contacts-description
    {
        width: 100%;
        margin-left: 0px;
    }

    .contacts-info-list
    {
        margin-right: auto;
        margin-left: auto;
    }

    .contacts-info-sublist
    {
        width: 100%;
        float: none;
    }
}


@media screen and (max-width: 479px)
{
/*Intro*/
    .intro-image
    {
        width: 320px;
        height: 320px;
    }
    
    .head-text
    {
        font-size: 40px;
    }

    .bot-text
    {
        max-width: 190px;
    }

/*Projects*/
    .photo-link
    {
        width: 100%;
        margin-bottom: 60px;
    }

    .project-card-heading
    {
        padding-top: 6px;
    }

    h4
    {
        font-size: 18px;
    }

/*Footer*/
    .contacts-form-text
    {
        font-size: 16px;
    }

    .contacts-info-head
    {
        flex-direction: column;
    }
}
